.hero-section {
  background-color: var(--color-primary);
  text-align: center;
  padding: 6rem 1rem;
  color: white;
}

.hero-title {
  font-size: 3rem;
  font-weight: 800;
  color: var(--color-text-black);
}

.hero-subtitle {
  font-size: 1.25rem;
  color: var(--color-bg-dark);
  margin-top: 1rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.hero-buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.hero-btn {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
}

.hero-btn-primary {
  background-color: var(--color-bg-white);
  color: var(--color-primary);
}

.hero-btn-secondary {
  background-color: var(--color-secondary);
  color: var(--color-bg-white);
}
