/* Shelters.css */
.shelters-container {
  padding: 2rem;
  background-color: #f9f9f9;
}

.shelters-header {
  font-size: 2.5rem;
  font-weight: bold;
  color: #d60d24; /* Primary color */
  margin-bottom: 1rem;
}

.shelters-description {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 2rem;
}

.shelters-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

.shelter-card {
  background-color: white;
  padding: 1.5rem;
    background: var(--color-bg-white);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.shelter-card:hover {
  transform: scale(1.05);
}

.shelter-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.shelter-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: #e40a19; /* Primary color */
  margin-top: 1rem;
}

.shelter-location {
  font-size: 1.1rem;
  color: #777;
  margin: 0.5rem 0;
}

.shelter-description {
  font-size: 1rem;
  color: #333;
  margin-bottom: 1rem;
}

.visit-shelter-button {
  background-color: #f00b0b; /* Primary color */
  color: white;
  padding: 0.5rem 1.5rem;
    background: var(--color-primary);
    color: var(--color-bg-white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.visit-shelter-button:hover {
  background: var(--color-secondary);
}
.shelter-image {
  width: 100%;
  height: 200px;  /* Adjust this value to fit your design */
  object-fit: cover;  /* Ensures the image covers the area without distortion */
  border-radius: 8px;  /* Optional: Add rounded corners to the images */
  margin-bottom: 1rem;  /* Adds space below the image */
}
/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure modal is on top of other elements */
}

/* Modal Box */
.modal {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  position: relative;
  max-height: 80vh;
  overflow-y: auto;
}

/* Close Button */
.close-modal-btn {
  background-color: #ff5c5c;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.close-modal-btn:hover {
  background-color: #ff1c1c;
}

/* Modal Content */
.modal img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.modal h2 {
  font-size: 1.8em;
  margin-bottom: 10px;
}

.modal p {
  font-size: 1em;
  margin-bottom: 10px;
}
